/* font */
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* custom variables */
:root{
    --font-color:rgba(58, 58, 58, 1);
    --btn-color:rgba(224, 44, 109, 1);
    --footer-bg:rgb(10, 8, 38);
}
/* nav style */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:120px;
    margin-right:120px;
    margin-top:87px;

}
.navbar-logo{
    font-size: 1.5rem;
    font-weight: bold;
    color:var(--font-color);
   
}
.navbar ul{
     display:flex;
     gap:34px;
}
.navbar ul li{
list-style: none;
font-size:1rem;
font-weight: 600;
}
.navbar ul a{
    text-decoration: none;
    color:var(--font-color);
}
/* hero style */
.hero-container{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
    padding-bottom:60px;
    margin-left:120px;
    margin-right:120px;
}
.hero-text{
    width:582px;
}
.hero-title{
    color:var(--font-color);
    font-size:3.25rem;
    font-weight:bold;
}
.hero-description{
    color:var(--font-color);
    font-size:1rem;
    font-weight:600;
}
.btn-primary{
    background-color: var(--btn-color);
    color:white;
    font-size:1rem;
    font-weight:bold;
    border:none;
    border-radius:41px;
    padding:15px 24px;
    margin-top:16px;
    /* padding-bottom: 10px;
    padding-right: 24px;
    padding-left:24px; */
}
.hero-photo{
    background-image: url('../images/Circle\ design.svg');
    background-size: contain;
    background-repeat:no-repeat;
}
/* sponsor style */

  .sponsor{
    padding-left:165px;
    padding-right:165px;
 }
 

.sponsor-photo{
    display: flex;
   gap:60px;
    align-items: center;
    
    border:1px solid rgba(0, 0, 0, 0.1);
    padding:35px 62px;
}
.photo-container{
    display:flex;
    gap:60px;
    justify-content: center;
    align-items: center;
}
.part1,.part2{
    display: flex;
    gap:60px;
} 
/* popular card style */
.popular-collection h3{
    color:var(--font-color);
    font-size: 1.75rem;
    font-weight:600;
    text-align: center;
    margin-top:100px;
}
.popular-collection-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   padding:30px 200px;
    gap:30px;

}
.popular-collection-card{
   
    padding:15px;
   border-radius:8px;
   box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);

}
.card-photo{
    width:100%;
}
.checked{
    color:orange;
    font-size: 0.875rem;
}
.card-title{
    color:var(--font-color);
    font-size: 1.75rem;
    font-weight: 500;
    margin-top:16px;
    margin-bottom:6px;
}
.card-price{
    font-size: 1.5rem;
    font-weight:400;
    margin:0;
}
.card-rating{
    font-size:0.875rem;
    color:rgb(94, 99, 102);
    margin-bottom:5px;
   
}
.card-availability,.card-protection{
    font-size:0.875rem;
    font-weight:bold;
    color:rgb(120, 120, 133);
    margin:0;
}
.see-more-button{
    background-color: white;
    color:var(--btn-color);
    border:none;
    font-size:1rem;
    font-weight: bolder;
    
    
}
.see-more{
    text-align: right;
    margin-top:20px;
    margin-right:200px;
    margin-bottom:100px;
   
}
/* join now style */
.join-now-container{
    display: flex;
    justify-content: center;
    gap:100px;
}
.join-now-text{
    width:610px;
}
.join-now-title{
    font-size:2.375rem;
    font-weight: bold;
    color:rgba(10, 8, 38, 1);
}
.join-now-description{
    font-size: 1rem;
    font-weight: bold;
    color:rgba(108, 108, 108, 1);
}
.join-now-btn{
    border:none;
    background-color: var(--btn-color);
    font-size: 1rem;
    color:white;
    font-weight: bold;
    padding:10px 24px;
}
/* mobile related style */
@media screen and (max-width: 576px) {
    .navbar,.navbar ul{
        flex-direction: column;
    }
.navbar{
    margin:20px;
    align-items: baseline;
    gap:20px;
    
}
.navbar ul{
    padding:0;
    /* margin:0 auto; */
}
.navbar-logo{
    margin:0 auto;
}
    .hero-container{
        flex-direction: column-reverse;
        margin:50px 20px;
        gap:20px;
    }
    .hero-text{
        width:100%;
        text-align: center;
    }
    .hero-title{
        font-size:1.75rem;
        
    }
    .hero-photo,.hero-img{
        width:100%;
    }
     .sponsor{
        padding:0;
       margin:0 auto;
        width:100%;
        
        
        
    }
    .sponsor-photo{
        width:50%;
        padding:50px 30px;
        margin:0 auto;
        border:none;
    }
    .photo-container{
        
        padding:0;
        flex-direction: column;
        gap:22px;
    }
   .sponsor-img{
    width:30%;
    
   }
   .part1,.part2{
    gap:20px;
   }
   .part1,
   .part2{
    justify-content: center;
   } 
    .popular-collection-card-container{
        grid-template-columns: repeat(1,1fr);
        padding:0;
        margin:15px;
    }
    .card-title{
        font-weight:bold;
    }
    .card-price{
        font-weight: bold;
    }
.see-more{
    margin-right:0;
    text-align: right;
    margin-bottom:30px;
}
.join-now-container{
    flex-direction: column-reverse;
    gap:30px;
}
.join-now-text{
    width:100%;
    text-align: center;
}
.join-now-title{
    font-size:1.5rem;
}
}